<h1><%= locals.username %></h1>

<button hx-get="/myprofile/<%= locals.username %>/edit"
    hx-target="#editFormContainer">edit</button>
<!-- have to change this to PUT -->

<img src="/profilePictures/<%= user[0].pfp %>">

<img src="/banners/<%= user[0].banner %>">



<h2>Wallet Address</h2>
<p><%= user[0].walletAddress %></p>


<h2>Biography</h2>
<p><%= user[0].bio %></p>

<h2>Videos</h2>'

<!--  -->
<% for(let i = 0;i < user.length; i++) { %>
    <a href="/videos/watch/<%= user[i].filename%>">
        <video height="400" width="400">
            <source src="/videos/<%= user[i].filename %>">
        </video>
    </a>
<% } %>

<div id="editFormContainer">

</div>

<script type="text/javascript" src="/scripts/profile.js"></script>