<h1><%= locals.username %></h1>

<button hx-get="/myprofile/<%= locals.username %>/edit"
    hx-target="#editFormContainer">edit</button>
<!-- have to change this to PUT -->

<img src="/profilePictures/<%= user.pfp %>">

<img src="/banners/<%= user.banner %>">



<h2>Wallet Address</h2>
<p><%= user.walletAddress %></p>


<h2>Biography</h2>
<p><%= user.bio %></p>

<h2>Videos</h2>'

<%= videos[0].filename %>
<% for(let i = 0;i < videos.length; i++) { %>
    <a href="/videos/watch/<%= videos[i].filename%>">
        <video height="400" width="400">
            <source src="/videos/<%= videos[i].filename %>">
        </video>
    </a>
<% } %>

<div id="editFormContainer">

</div>

<script type="text/javascript" src="/scripts/profile.js"></script>