<h1><%= locals.username %></h1>

<button hx-get="/myprofile/<%= locals.username %>/edit"
    hx-target="#editFormContainer">edit</button>
<!-- have to change this to PUT -->

<img src="/profilePictures/<%= user.pfp %>">

<img src="/banners/<%= user.banner %>">



<h2>Wallet Address</h2>
<p><%= user.walletAddress %></p>


<h2>Biography</h2>
<p><%= user.bio %></p>

<div id="editFormContainer">

</div>

<script type="text/javascript" src="/scripts/profile.js"></script>