
<div id="editProfileForm">
    <form class="editProfileFormLabelsAndInputs" action='/myprofile/<%= locals.username %>' method="POST" enctype="multipart/form-data">
        <label for="pfp">Upload Profile Picture</label>
        <input type="file" name="pfp" value="<%= user.pfp %>">

        <label for="banner">Upload Banner</label>
        <input type="file" name="banner" value="/profilePictures/<%= user.banner %>">

        <label for="bio">Update your Bio</label>
        <input id="bio" type="text" name="bio" value="<%= user.bio %>">
        <br>
        <label for="walletAddress" id="editWalletAddress">Input/Update your Wallet Address Below</label>
        <input id="walletAddress" type="text" name="walletAddress" value="<%= user.walletAddress %>">

        <button type="submit">Submit</button>
    </form>
    <button 
        hx-delete="/myprofile/<%= locals.username %>/removeForm"
        hx-target="#editProfileForm"  
        hx-swap="outerHTML">X</button>
</div>
