<div class="videoPanorama" id="newPanorama">

        <!-- button to go back on panorama -->
    <button class="backAndForwardButton" 
    hx-get="/home/new/backward/<%= newIndex %>"
    hx-target="#newPanorama"
    hx-swap="outerHTML swap: 1s" 
    >&lt</button>

    <% if(newestVideos.length < 3) { %>
    <%    forLoopMaxNew = newestVideos.length; %>
    <% } else { %>
    <%    forLoopMaxNew = newIndex + 3; %>
    <% } %>

    <% if(newestVideos.length > 0) { %>
        <% for(let i = newIndex; i < forLoopMaxNew; i++) { %>
            <div class="videoCard">
                <div class="blackBars"></div>

                <div class="videoContainer">
                    <a class="videoLinks" href="/videos/watch/<%= newestVideos[i].fileName %>">
                        <video height="400" width="400" class="videoThumbnail">
                            <source src="/videos/<%= newestVideos[i].fileName %>">
                        </video>
                    </a>
                </div>
                <p class="homePageVideoTitle"><%= newestVideos[i].title %></p>
                <div class="videoCardPairs">
                    <img src="/profilePictures/<%= newestVideos[i].pfp %>" class="pfpUnderVideo" ></img>
                    <p class="usernameUnderVideo"><%= newestVideos[i].username %></p>
                </div>
                <div class="videoCardPairs">
                    <p class="homepageViewsAndDate">Views: <%= newestVideos[i].views %></p>
                    <p class="homepageViewsAndDate">Date Uploaded: <%= newestVideos[i].dateOfUpload %></p>
                </div>
                <div class="blackBars"></div>
            </div>
        <% } %>
    <% } %>

    <!-- button to go forward on panorama -->
    <button class="backAndForwardButton" 
    hx-get="/home/new/forward/<%= newIndex %>"
    hx-target="#newPanorama"
    hx-swap="outerHTML swap: 1s">&gt</button>

</div>