<div class="videoCard hiddenCard">
    <div class="videoContainer">
        <a class="videoLinks" href="/videos/watch/<%= subbedVideos[subIndex].fileName %>">
            <video height="400" width="400" class="videoThumbnail">
                <source src="https://bucketwatchnow.s3.us-east-1.amazonaws.com/videos/<%= subbedVideos[subIndex].fileName %>">
            </video>
        </a>
    </div>
    <a class="homePageVideoTitle" href="/videos/watch/<%= subbedVideos[subIndex].fileName %>">
        <p class="homePageVideoTitle"><%= subbedVideos[subIndex].title %></p>
    </a>
    <div class="videoCardPairs">
        <a class="usernameUnderVideo" href="/viewprofile/<%= subbedVideos[subIndex].username %>">
            <img src="https://bucketwatchnow.s3.us-east-1.amazonaws.com/profilePictures/<%= subbedVideos[subIndex].pfp %>" class="pfpUnderVideo"></img>
            <p class="usernameUnderVideo"><%= subbedVideos[subIndex].username %></p>
        </a>
    </div>
    <div class="videoCardPairs">
        <p class="homepageViewsAndDate">Views: <%= subbedVideos[subIndex].views %></p>
        <p class="homepageViewsAndDate">Date Uploaded: <%= subbedVideos[subIndex].dateOfUpload %></p>
    </div>
</div>