<div class="videoPanorama" id="popularPanorama">

    <!-- button to go back on panorama -->
    <button class="backAndForwardButton" 
    hx-get="/home/popular/backward/<%= popIndex %>"
    hx-target="#popularPanorama"
    hx-swap="outerHTML swap: 1s" 
    >&lt</button>
    
    <% if(popularVideos.length < 3) { %>
    <%    forLoopMaxPop = popularVideos.length; %>
    <% } else { %>
    <%    forLoopMaxPop = popIndex + 3; %>
    <% } %>


    <!-- have to figure out why popular videos returns an empty array rather than nothing -->
    <% if(popularVideos.length > 0) {%>
        <% for(let i = popIndex;i < forLoopMaxPop; i++) { %>
            <div class="videoCard">
                <div class="blackBars"></div>
                <div class="videoContainer">
                    <a class="videoLinks" href="/videos/watch/<%= popularVideos[i].fileName %>">
                        <video height="400" width="400" class="videoThumbnail">
                            <source src="/videos/<%= popularVideos[i].fileName %>">
                        </video>
                    </a>
                </div>
                <a class="homePageVideoTitle" href="/videos/watch/<%= popularVideos[i].fileName %>">
                    <p class="homePageVideoTitle"><%= popularVideos[i].title %></p>
                </a>
                <div class="videoCardPairs">
                    <a class="usernameUnderVideo" href="/viewprofile/<%= popularVideos[i].username %>">
                        <img src="/profilePictures/<%= popularVideos[i].pfp %>" class="pfpUnderVideo" ></img>
                        <p class="usernameUnderVideo"><%= popularVideos[i].username %></p>
                    </a>
                </div>
                <div class="videoCardPairs">
                    <p class="homepageViewsAndDate">Views: <%= popularVideos[i].views %></p>
                    <p class="homepageViewsAndDate">| Date Uploaded: <%= popularVideos[i].dateOfUpload %></p>
                </div>
                <div class="blackBars"></div>
            </div>
        <% } %>
    <% } %>

    <% if(popularVideos.length - popIndex == 1) { %>
        <%- include('panoramaWhiteSpacePopular.ejs') %>
        <%- include('panoramaWhiteSpacePopular.ejs') %>
    <% } else if (popularVideos.length - popIndex == 2) { %>
        <%- include('panoramaWhiteSpacePopular.ejs') %>
    <% } %>



    <!-- button to go forward on panorama -->
    <button class="backAndForwardButton" 
    hx-get="/home/popular/forward/<%= popIndex %>"
    hx-target="#popularPanorama"
    hx-swap="outerHTML swap: 1s">&gt</button>

</div>