<div class="videoCard hiddenCard videoCardSubsection" hidden>
    <div class="videoContainer">
        <a class="videoLinks" href="/videos/watch/<%= pageVideos[0].fileName %>">
            <video height="400" width="400" class="videoThumbnail">
                <source src="/videos/<%= pageVideos[0].fileName %>">
            </video>
        </a>
    </div>
    <a class="homePageVideoTitle" href="/videos/watch/<%= pageVideos[0].fileName %>">
        <p class="homePageVideoTitle"><%= pageVideos[0].title %></p>
    </a>
    <div class="videoCardPairs">
        <a class="usernameUnderVideo" href="/viewprofile/<%= pageVideos[0].username %>">
            <img src="/profilePictures/<%= pageVideos[0].pfp %>" class="pfpUnderVideo" ></img>
            <p class="usernameUnderVideo"><%= pageVideos[0].username %></p>
        </a>
    </div>
    <div class="videoCardPairs">
        <p class="homepageViewsAndDate">Views: <%= pageVideos[0].views %></p>
        <p class="homepageViewsAndDate">Date Uploaded: <%= pageVideos[0].dateOfUpload %></p>
    </div>
</div>