<div class="videoPanorama" id="recommendedPanorama">

        <!-- button to go back on panorama -->
    <button class="backAndForwardButton" 
    hx-get="/home/recommended/backward/<%= subIndex %>"
    hx-target="#recommendedPanorama"
    hx-swap="outerHTML swap: 1s" 
    >&lt</button>

    <% if(subbedVideos.length < 3) { %>
    <%    forLoopMax = subbedVideos.length; %>
    <% } else { %>
    <%    forLoopMax = subIndex + 3; %>
    <% } %>
        <% for(let i = subIndex; i < forLoopMax; i++) { %>
            <div class="videoCard">
                <div class="videoContainer">
                    <a class="videoLinks" href="/videos/watch/<%= subbedVideos[i].fileName %>">
                        <video height="400" width="400" class="videoThumbnail">
                            <source src="/videos/<%= subbedVideos[i].fileName %>">
                        </video>
                    </a>
                </div>
                <a class="homePageVideoTitle" href="/videos/watch/<%= subbedVideos[i].fileName %>">
                    <p class="homePageVideoTitle"><%= subbedVideos[i].title %></p>
                </a>
                <div class="videoCardPairs">
                    <a class="usernameUnderVideo" href="/viewprofile/<%= subbedVideos[i].username %>">
                        <img src="/profilePictures/<%= subbedVideos[i].pfp %>" class="pfpUnderVideo" ></img>
                        <p class="usernameUnderVideo"><%= subbedVideos[i].username %></p>
                    </a>
                </div>
                <div class="videoCardPairs">
                    <p class="homepageViewsAndDate">Views: <%= subbedVideos[i].views %></p>
                    <p class="homepageViewsAndDate">Date Uploaded: <%= subbedVideos[i].dateOfUpload %></p>
                </div>
            </div>
        <% } %>
    <% if(subbedVideos.length - subIndex == 1) { %>
        <%- include('panoramaWhiteSpaceSubbed.ejs') %>
        <%- include('panoramaWhiteSpaceSubbed.ejs') %>
    <% } else if (subbedVideos.length - subIndex == 2) { %>
        <%- include('panoramaWhiteSpaceSubbed.ejs') %>
    <% } %>

    <!-- button to go forward on panorama -->
    <button class="backAndForwardButton" 
    hx-get="/home/recommended/forward/<%= subIndex %>"
    hx-target="#recommendedPanorama"
    hx-swap="outerHTML swap: 1s">&gt</button>

</div>