<!-- imports Web3 -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.2.7-rc.0/web3.min.js"></script>

<!-- video title -->

<div class="videoPlayerContainer">
  <video class="videoPlayer" controls>
      <source src="/videos/<%= user.fileName %>">
  </video>
  <p id="videoPageTitle">
    <%= user.title %>
  </p>
  <p>
    <%= user.description %>
  </p>

  <div class="videoMetaDataContainer">
    <img class="pfpUnderVideo" src="/profilePictures/<%= user.pfp %>">

    <p>
      <a class="videoUsernameUnderVideo" href="/viewprofile/<%= user.username %>"><%= user.username %></a>
    </p>
    <%- include('../partials/subscribeButton.ejs') %>

    <div>
      <button class="donateButton" hx-get="/videos/watch/<%= user.fileName %>/donate"
        hx-target="#donateFormContainer">Donate</button>
    </div>
    <p>
      <%= user.views %> views
    </p>
  </div>

</div>

<div id="donateFormContainer">

</div>

 <script  src="/scripts/smartContractFunctions.js"></script>