<!-- imports Web3 -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.2.7-rc.0/web3.min.js"></script>

<!-- video title -->

<div class="videoPage">
  <div class="videoPageLeftColumn">
    <%- include('../partials/errorMessage.ejs') %>
    <div class="videoPlayerContainer">
      <video class="videoPlayer" controls>
          <source src="https://bucketwatchnow.s3.us-east-1.amazonaws.com/videos/<%= user.fileName %>">
      </video>
      <p id="videoPageTitle">
        <%= user.title %>
      </p>
      <p>
        <%= user.description %>
      </p>
  
      <div class="videoMetaDataContainer">
        <img class="pfpUnderVideo" src="https://bucketwatchnow.s3.us-east-1.amazonaws.com/profilePictures/<%= user.pfp %>" alt="<%= user.username %> profile picture">
  
        <p>
          <a class="videoUsernameUnderVideo" href="/viewprofile/<%= user.username %>"><%= user.username %></a>
        </p>
        <%- include('../partials/subscribeButton.ejs') %>
  
        <div>
          <button class="donateButton" hx-get="/videos/watch/<%= user.fileName %>/donate"
            hx-target="#donateFormContainer">Donate</button>
        </div>
        <p>
          <%= user.views %> views
        </p>

      </div>
    </div>
  
    <div id="donateFormContainer"></div>
  </div>
  <div class="videoPageMiddleColumn">
    <h2>
      Recommended
    </h2>
  </div>
  <% if(recommendedVideos.length != 0) { %>
  <div class="videoPageRightColumn">

    <% for(let i = 0; i < Math.min(recommendedVideos.length, 2); i++) { %>
      <div class="videoCard">
                <div class="blackBars"></div>

                <div class="videoContainer">
                    <a class="videoLinks" href="/videos/watch/<%= recommendedVideos[i].fileName %>">
                        <video height="400" width="400" class="videoThumbnail">
                            <source src="https://bucketwatchnow.s3.us-east-1.amazonaws.com/videos/<%= recommendedVideos[i].fileName %>">
                        </video>
                    </a>
                </div>
                <a class="homePageVideoTitle" href="/videos/watch/<%= recommendedVideos[i].fileName %>">
                    <p class="homePageVideoTitle"><%= recommendedVideos[i].title %></p>
                </a>
                <div class="videoCardPairs">
                    <a class="usernameUnderVideo" href="/viewprofile/<%= recommendedVideos[i].username %>">
                        <img src="https://bucketwatchnow.s3.us-east-1.amazonaws.com/profilePictures/<%= recommendedVideos[i].pfp %>" class="pfpUnderVideo" alt="<%= recommendedVideos[i].username %> profile picture"></img>
                        <p class="usernameUnderVideo"><%= recommendedVideos[i].username %></p>
                    </a>
                </div>
                <div class="videoCardPairs">
                    <p class="homepageViewsAndDate">Views: <%= recommendedVideos[i].views %></p>
                    <p class="homepageViewsAndDate">Date Uploaded: <%= recommendedVideos[i].dateOfUpload %></p>
                </div>
                <div class="blackBars"></div>
            </div>
    <% } %>
  </div>
  <% } %>
</div>

 <script  src="/scripts/smartContractFunctions.js"></script>